<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" type="image/x-icon" href="img/sbt.ico">
    <title>blackboard</title>
    <script type="text/javascript" src="jquery-3.2.1.min.js"></script>
    <script>document.write("<script type='text/javascript' src='/blackboard.js?v=" + Date.now() + "'><\/script>");</script>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-2 column">
            <div class="page-header">
                <h1>
                    Hello, world!<br>
                    <small>Just type something and click "OK".</small>
                </h1>
            </div>
        </div>
        <div class="col-md-10 column">
            <textarea id="t1" rows="26" style="min-width: 90%;float:left" ></textarea>
            <!--<textarea id="t1" th:cols="100" th:rows="30"  ></textarea>-->
            <button type="button" onclick="cooo();" class="btn btn-default" style="margin:10%; float:left">Compress</button>
            <button type="button" onclick="gooo();" class="btn btn-default" style="margin:10%; ">OK</button>
        </div>
        <!--<div class="col-md-4 column">-->
            <!---->
        <!--</div>-->
    </div>
</div>
<input id="k" style="visibility:hidden" th:value="${k}"/>
<input id="s" style="visibility:hidden" th:value="${s}"/>

</body>

</html>

