<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>giveme</title>
    <script type="text/javascript" src="/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/giveme.js?randomId=<%=Math.random()%>"></script>
    <style type="text/css">
       #fp {width:800px}
    </style>

</head>
<body>
<p> Need help...?</p>
Tell me where is it : <input  id="fp" type="text" name="path">
<input  onclick="req();" type="submit" value="OK">
<p>Pls find it below:</p>
<div id="tar">
    <!--<a class="link" href="javascript:void(0);"></a>-->
</div>

</body>

</html>