<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>world.index</title>
    <style>
            h1{
             color: grey;
            }
            .sb{
                color: red;
            }
            .tools{
                color: #66B3FF;
            }
    </style>
</head>
<body>
<h1><span class="sb">S</span>uper <span class="sb">B</span>rilliant <span class="tools">tools</span></h1>
<div id="indexes">
    <ul>
        <li><a href="/giveme">Give Me</a></li>
        <li><a href="/pbkiller">Screen Saver Blocker</a></li>
        <li><a href="/blackboard">Blackboard</a></li>
    </ul>
</div>
</body>
</html>