<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" type="image/x-icon" href="img/sbt.ico">
    <title>sbtools</title>
    <style>
            h1{
             color: grey;
            }
            .sb{
                color: red;
            }
            .tools{
                color: #66B3FF;
            }
    </style>
</head>
<body>
<!--<h1><span class="sb">S</span>uper <span class="sb">B</span>rilliant <span class="tools">tools</span></h1>-->
<div id="indexes" class="container">
    <div class="row clearfix">
        <div class="col-md-6 column">
            <div class="page-header">
                <h1>
                    <span class="sb">S</span>uper <span class="sb">B</span>rilliant <span class="tools">tools</span>
                </h1>
            </div>
            <ul class="list-group">
                <li class="list-group-item" style="line-height:50px"><a href="/giveme">Give Me</a></li>
                <li class="list-group-item" style="line-height:50px"><a href="/pbkiller">PbKiller</a></li>
                <li class="list-group-item" style="line-height:50px"><a href="/blackboard">Blackboard</a></li>
                <li class="list-group-item" style="line-height:50px"><a href="/timestamp">Timestamp</a></li>
                <li class="list-group-item" style="line-height:50px"><a href="/storage">Storage</a></li>
            </ul>
            <!--<ul>-->
                <!--<li><a href="/giveme">Give Me</a></li>-->
                <!--<li><a href="/pbkiller">PbKiller</a></li>-->
                <!--<li><a href="/blackboard">Blackboard</a></li>-->
                <!--<li><a href="/timestamp">Timestamp</a></li>-->
            <!--</ul>-->
        </div>
        <div class="col-md-6 column">
        </div>
    </div>
</div>
</body>
</html>