<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" type="image/x-icon" href="img/sbt.ico">
    <title>pbkiller</title>
    <script type="text/javascript" src="/jquery-3.2.1.min.js"></script>
    <script>document.write("<script type='text/javascript' src='/pbkiller.js?v=" + Date.now() + "'><\/script>");</script>
    <style type="text/css">
        #fp {
            width: 800px
        }
    </style>
</head>
<body>
<p> Cannot close Windows Screen Saver...?</p>
<ul>
    <li>Try this script:
        <a class="link" onclick="rec();" href="javascript:void(0);">pbkiller.vbs</a>
    </li>

</ul>

</body>

</html>